<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'all-portfolio/base.html' %} {% load bootstrap4 %} {% block content %}
    <div class="container text-center imagebackground">
        <img src="{{ specproject.image.url }}" alt="{{ specproject.title }}" class="img-fluid">
    </div>
    <div class="container mb-5 mt-2">
        <div class="review_overrall p-2">
            <div class="d-flex justify-content-between align-item-center">
                <h3>{{ specproject.title }}</h3>
                <p>Owner: {{ specproject.projectowner }}</p>
            </div>
            {% autoescape on %}
            <p>Desc: {{ specproject.description|safe }}</p>
            {% endautoescape %}
            <a class="btn btn-primary" href="{{ specproject.livelink }}">Check Out the Site</a>
        </div>
    </div>
    {% endblock %}
</body>

</html>