.login {
    background-color: rgb(248, 224, 194, 0.6);
    padding: 10px;
}

.register {
    background-color: rgb(248, 224, 194, 0.6);
    padding: 10px;
}

.userdetails {
    background-color: rgb(248, 224, 194, 0.6);
    padding: 100px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.postpro {
    background-color: rgb(248, 224, 194, 0.6);
    padding: 100px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.container-fluid {
    background-image: url(./images/new.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-body {
    background-color: rgba(158, 98, 25, 0.3);
    padding: 30px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    justify-content: center;
}

body {
    background-color: rgb(107, 164, 179);
}

.home,
h1 {
    color: aqua;
}

.home,
span {
    color: rgb(169, 19, 189);
    font-family: italic small-caps bold 12px/30px Georgia, serif;
}

.userdetails img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.contimage img {
    height: 300px;
    width: 500px;
}